{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}

{% block extra-scripts %}
{{ block.super }}

<script type="text/javascript">
</script>
{% endblock extra-scripts %}
             
{% block listboard_panel %}
    <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button" 
        href="/">
            <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a>
    {% if contact == 'visitor' %}
    <a id="add_contact" title="go back" class="btn btn-sm btn-default" role="button" 
        href="{{ contact_add_url }}?next={{ visitor_listboard_url }}">
            <i class="fas fa-address-book"></i> Add Visitor
    </a>
    {% endif %}
    {% if contact == 'employee' %}
    <a id="add_contact" title="go back" class="btn btn-sm btn-default" role="button" 
        href="{{ contact_add_url }}?next={{ employee_listboard_url }}">
            <i class="fas fa-address-book"></i> Add Staff
    </a>
    {% endif %}
{% endblock listboard_panel %}
{% block listboard_table_button_column %}
{% endblock listboard_table_button_column %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th>Name and Surname</th>
    <th>Edit</th>
    <th>Contact Number</th>
    <th>Gender</th>
    <th>Temperature</th>
    <th>Time in</th>
    <th>Time Out</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_columns %}
	{{result.today_temperature}}
	<td>{{ result.first_name }} {{result.last_name}}</td>
	<td style="white-space: nowrap">
    <div class="btn-group">
    <a title="Edit data action item" role="button" 
       class="btn btn-default btn-sm"
           href="{{ result.href }}">
        <i class="fa fa-pencil-alt fa-sm"></i>
    </a>
    {% if contact == 'visitor' %}
    <a id="btn-temperature" class="btn btn-primary btn-sm" role="button"   
     title="add_temperature" href="{{result.temperature_obj.href }}{{result.cell}}">
     <i class="far fa-user-circle fa-sm"></i> Temperature  <i class="fa fa-share"></i></a>
    {% endif %}
    {% if contact == 'employee' %}
    <a id="btn-temperature" class="btn btn-primary btn-sm" role="button"   
     title="add_temperature" href="{{result.temperature_obj.href }}{{result.cell}}">
     <i class="far fa-user-circle fa-sm"></i> Temperature  <i class="fa fa-share"></i></a>
    {% endif %}
    </div>
	</td>
	<td>{{ result.cell }} </td>
	<td>{{result.gender}}</td>
	<td>{{result.temperature_obj.temperature}}</td>
	<td>{{result.temperature_obj.time_in}}</td>
	<td>{{result.temperature_obj.time_out}}</td>
{% endblock listboard_table_columns %}